[program:berkshelf-api]
command=bin/berks-api -p {{ berkshelf_api_port }} -c {{ berkshelf_api_config_path }}
process_name=%(program_name)s
directory={{ berkshelf_api_home }}
user={{ berkshelf_api_owner }}
numprocs=1
numprocs_start=0
priority=999
autostart=true
autorestart=true
startsecs=1
startretries=3
exitcodes=0,2
stopsignal=TERM
stopwaitsecs=10
redirect_stderr=false
stdout_logfile=/var/log/berkshelf/berkshelf-server-stdout.log
stdout_logfile_maxbytes=50MB
stdout_logfile_backups=10
stdout_capture_maxbytes=0
stdout_events_enabled=false
stderr_logfile=/var/log/berkshelf/berkshelf-server-stderr.log
stderr_logfile_maxbytes=50MB
stderr_logfile_backups=10
stderr_capture_maxbytes=0
stderr_events_enabled=false
serverurl=AUTO